.blog-wrap {
  border-radius: 5px;
  background: linear-gradient(145deg, #aec1cf, #cfe5f6);
  box-shadow: 35px 35px 100px #b5c9d8, -35px -35px 100px #cde3f4;
  height: 700px;
}
.blog-btn {
  margin-top: 10px;
  border: 1px solid white;
  color: beige;
  font-size: 15px;
  padding: 8px;
  background: linear-gradient(145deg, #aec1cf, #cfe5f6);
}