.blog-wrap {
  border-radius: 10px;
  background: linear-gradient(145deg, #aec1cf, #cfe5f6);
  
  height: 700px;
}
.blog-btn {
  margin-top: 10px;
  border: 1px solid white;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 8px;
  background: linear-gradient(145deg, #aec1cf, #cfe5f6);
}