.main-items-container {
  border: 1px solid #71b8e4;
  border-radius: 8px;
  padding: 8px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  
}

.items-img img {
  width: 100px;
}
.Single-items-container {
  display: flex;
 
 
}

.delete-btn-container {
  display: flex;
  align-items: center;
}
.deleteIcon{
    color: #51445a;
    font-size: 20px;
    border:1px solid rgb(18, 15, 194);
    padding: 10px;
    border-radius: 50px;
}
.deleteIcon :hover{
    color:rgba(209, 19, 19, 0.979);  

    border: 2px solid rgba(209, 19, 19, 0.979);
}

.items-details p{
    margin: 0;
    padding: 0;
}
.items-detail{
    color:rgb(1, 1, 2);
    font-weight:500;
}

