.div-wrap{
background-image: url('../../Images/ca-bg-banner2.jpg');
background-repeat: no-repeat;
background-position:center;
background-size: cover;


}






.h1-text{
padding-top:px ;
font-size: 70px;
color: rgb(27, 18, 18);
 font-weight: 800;

}


@media screen and (min-width: 250px) and (max-width: 670px) {
    
    .h1-text{
       
        font-size: 35px;
        color: rgb(27, 18, 18);
        font-weight: 800;
        
        }


        .div-wrap-text {
 
            margin-left:5px;
 
        }


  }