.main-wrapForm{


    background-image: url('../../Images/LOCUJf.webp');
    background-repeat: no-repeat;
    background-size: cover;

}
.form-container{

border-radius: 20px;
background: linear-gradient(145deg, #b19d9d, #7f85d1d2);
box-shadow:  35px 35px 100px #bebebe,
             -35px -35px 100px #ffffff;

}
.form{

 padding: 50px;            
}

.form-container h1{
    color:rgb(255, 255, 255);
    text-transform: uppercase;
}
.text-m{
    color: #ffffff;
}
.form-p{
    text-align: center;
    padding: 20px ;
    color: white;
}